.container {
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.au-header{
    outline: white solid 5px;
    margin-top: 200px;
    color:rgb(68, 43, 10);
    display: flex;
    justify-content: center;
}

.body {
    font-size: 12px;
    display: flex;
    text-align: center;
    /* justify-content: center; */
    width: 80vw;
}

 